# Binary
./sni

# Config & Data
.sni/
snippets.yaml

# Web
web/node_modules/
web/.svelte-kit/
web/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
internal/server/dist/
